[Desktop Entry]
Type=Application
Name=TextSend
Comment=局域网文字互传
Exec=/opt/textsend/bin/TextSend
Icon=/usr/share/pixmaps/textsend.png
Terminal=false
Categories=Utility;
StartupWMClass=TextSend
StartupNotify=true
